{%load static%}

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Vezeta</title>
<title>Job Board</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% comment %} this is the CSS {% endcomment %}
{% include 'parts/CSSLinks.html' %}
{% comment %} this is the header {% endcomment %}
{% include 'parts/header.html' %}

<!-- body of html here -->
{% block content %}
{% endblock %}
{% comment %} this is the JS {% endcomment %}
{% include 'parts/JSLinks.html' %}
<!-- end of the bady -->

{% comment %} this is the footer {% endcomment %}
{% include 'parts/footer.html' %}
