{% load static %}

<link rel="manifest" href="{% static 'static_file/site.webmanifest' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'static_file/img/favicon.png' %}">
<!-- Place favicon.ico in the root directory -->

<!-- CSS here -->
<link rel="stylesheet" href="{% static 'static_file/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'static_file/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'static_file/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'static_file/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'static_file/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'static_file/css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'static_file/css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'static_file/css/gijgo.css' %}">
<link rel="stylesheet" href="{% static 'static_file/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'static_file/css/slicknav.css' %}">

<link rel="stylesheet" href="{% static 'static_file/css/style.css' %}">
<link rel="stylesheet" href="{% static 'static_file/css/responsive.css' %">