
{%load static %}

<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid " style="background-color: rgba(0, 29, 56, 0.8);" >
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href=" {%url 'accounts:doctors_list'%} ">
                                    <img src="{% static 'static_file/img/logo2.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href=" {% url 'accounts:doctors_list' %} ">احجز دكتورك</a></li>|
                                        <li><a href="">المقالات</a></li>|
                                        <li><a href="{% url 'accounts:myProfile' %}">الصفحه الشخصيه </a></li>|
                                        <li><a href="contact.html">اتصل بنا</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                {% if request.user.is_authenticated %}
                                <div class="phone_num d-none d-xl-block"></div>
                                <div class="d-none d-lg-block">
                                    <a class="boxed-btn3" href="">قدم نفسك</a>
                                </div>
                                {%else%}
                                <div class="phone_num d-none d-xl-block">
                                    <a class="boxed-btn3" href="{% url 'accounts:login' %}">سجل الدخول</a>
                                </div>
                                <div class="d-none d-lg-block">
                                    <a class="boxed-btn3" style="background-color: crimson;" href="">التسجيل</a>
                                </div>
                                {%endif%}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    </header>