{% load static %}

<!--js here  -->
<script src="{% static 'static_file/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<script src="{% static 'static_file/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'static_file/js/popper.min.js' %}"></script>
<script src="{% static 'static_file/js/bootstrap.min.js' %}"></script>
<script src="{% static 'static_file/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'static_file/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'static_file/js/ajax-form.js' %}"></script>
<script src="{% static 'static_file/js/waypoints.min.js' %}"></script>
<script src="{% static 'static_file/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'static_file/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'static_file/js/scrollIt.js' %}"></script>
<script src="{% static 'static_file/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'static_file/js/wow.min.js' %}"></script>
<script src="{% static 'static_file/js/nice-select.min.js' %}"></script>
<script src="{% static 'static_file/js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'static_file/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'static_file/js/plugins.js' %}"></script>
<script src="{% static 'static_file/js/gijgo.min.js' %}"></script>



<!--contact js-->
<script src="{% static 'static_file/js/contact.js' %}"></script>
<script src="{% static 'static_file/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'static_file/js/jquery.form.js' %}"></script>
<script src="{% static 'static_file/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'static_file/js/mail-script.js' % }"></script>

<!-- main jave script file -->
<script src="{% static 'static_file/js/main.js' %}"></script>